.container, .article{
  display: flex;
}

.nav{
  background-color: plum;
  width: 10vw;
  height:600px;
}
.head, .foot{
  background-color: yellow;
  width: 85vw;
  height:100px;
}
.artikel{
  background-color: whitesmoke;
  width: 50vw;
  height:400px;
}
.aside{
  background-color: aqua;
  width: 35vw;
  height:400px;
}
